.no-scroll {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
  }
  
/* Modal Background */
.modal {
    display: none;
    position: fixed;
    overflow: hidden;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

/* Modal Box */
.modal-content {
    width: 25vw; 
    max-height: 85vh;
    gap: 1em;
    flex-direction: column;
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 10em 5em;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255, .2);
    background-color: #fff;
    color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Upload modal box */
.file-upload-content {
    min-width: 20vw;
    max-height: 90vh;
    gap: 1em;
    flex-direction: column;
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 10em 3em;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255, .2);
    background-color: #fff;
    backdrop-filter: blur(20px);
    color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.modal button {
    width: 45vw;
    max-width: 360px;
    width: 100%;
    padding: 12px;
    background: #4f772d;
    border-radius: 6px;
    border: none;
    cursor: #fff;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}


.modal-content button,
.file-upload-content button {
    min-width: 100%;
    height: auto;
    padding: 12px;
    background: #4f772d;
    border-radius: 6px;
    border: none;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 30px;
    transition: 0.5s;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Open modal button */
.open-modal-btn button{
    max-width: 400px;
    width: 100%;
    padding: 0.8em 2em;
    background: #4f772d;
    border-radius: 6px;
    border: none;
    cursor: #fff;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    transition: color 0.3s ease, background 0.3s ease;
}
/* ffd60a */
.open-modal-btn button:hover {
    background-color: #4f772d;
    color:  #ffd60a;
    cursor: pointer;
    transition: color 0.3s ease, background 0.3s ease;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}


/* Close Button */
.close {
    height: 5em;
    width: 4em;
    color: #fff;
    float: right;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 0;
}

.close:hover {
    color: #333;
}

/* Form Container */
.modal-content form,
.file-upload-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1em;
}

/* Labels */
.modal-content label {
    font-weight: bold;
    width: 100%;
}

/* Input, Select, and Textarea Fields */
.modal-content select,
.modal-content textarea,
.modal-content input  { 
    min-width: 16vw;
    width: 100%;
    height: 35px;
    padding: 0 1em;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    color: #333;
}

.modal-content input::placeholder {
    color: #333;
}

.file-upload-content input{
    width: 100%;
    font-size: 16px;
    height: 45px;
    padding: 0.8em 1em;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    color: #333;
    margin-bottom: 10px;   
}

.select-course-dropdown {
    width: 100%;
    font-size: 16px;
    height: 30px;
    padding: 1em 1em;
    background: #eee;
    border-radius: 6px;
    color: #333;
    margin-bottom: 10px;
    cursor: pointer;
    appearance: none;
}


/* Placeholder Text Color */
.modal-content input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.modal-content form label {
    text-align: center;
}

/* Checkbox Container */
.checkbox-container {
    background-color: transparent;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
}

.modal-content input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: #333;
    cursor: pointer;
}

/* Submit Button */
.modal-content button {
    width: 100%;
    padding: 12px;
    background: #4f772d;
    border-radius: 6px;
    border: none;
    cursor: #fff;
    color: #fff;
    font-weight: 500px;
    margin-bottom: 20px;
    transition: 0.5s;
}

.modal-content button:hover {
    background-color: #4f772d;
    color:  #fff;
    cursor: pointer;
    transition: color 0.3s ease, background 0.3s ease;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

@media (max-width: 1024px) {
    .modal-content {
        width: 40%;
        padding: 1em 2em;
        min-height: 95vh;
    }
    .open-modal-btn button {
        width: 40vw;
    }
    .modal-content select,
    .modal-content textarea,
    .modal-content input  { 
        min-width: 30vw;
    }
}


@media (max-width: 800px) {
    .modal-content {
        width: 40%;
        padding: 1em 2em;
        min-height: 60vh;
    }
    .open-modal-btn button {
        width: 40vw;
    }
}

@media (max-width: 425px) {
    .modal-content {
        height: 75vh;
        width: 100%;
        width: 85vw;
        padding: 1em 5em;
    }
    .open-modal-btn button {
        width: 85vw;    
    }
    .modal-content select,
    .modal-content textarea,
    .modal-content input  { 
        min-width: 50vw;
    }
}