
{% extends 'pds_app/home.html' %}

{% block sidebar1 %}
    {% for section, details in SECTIONS.items %}
        {% if section == active_section %}
            <span class="active">{{ details.name }}</span>
        {% else %}
            <a href="#" class="disabled-link">{{ details.name }}</a>
        {% endif %}
    {% endfor %}
{% endblock sidebar1 %}


<!-- Clickable -->
{% block sidebar %}
    {% for section, details in SECTIONS.items %}
        {% if section == active_section %}
            <span class="active">{{ details.name }}</span>
        {% else %}
            <a href="{% url 'section_view' section %}" class="{% if section == active_section %}active{% endif %}">
                {{ details.name }}
            </a>
        {% endif %}
    {% endfor %}
{% endblock sidebar %}

{% block content %}
{% endblock content %}
