{% extends 'pds_app/forms.html' %}

{% block content %}
<div class="edit-form-container">
    {% if creating %}
        <h2>Create Form</h2>
    {% else %}
        <h2>Edit Form: {{ form_instance.name }}</h2>
    {% endif %}

    

    
    
    <form method="post" class="general-form" id="general-form">
        {% csrf_token %}
        <input type="hidden" id="hidden-form-name" name="form_name" value="{{ form_instance.name }}">
        
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
        {% endif %}
        <!-- Form Name -->
        <!-- <fieldset>
            <legend>Form Name</legend>
            <div class="form-row">
                <label for="modal-form-name">Form Name:</label>
                <input type="text" id="modal-form-name" name="form_name" value="{{ form_instance.name }}" placeholder="Form Name" required>
            </div>
        </fieldset> -->

        <!-- Personal Information -->
        <h3 style="text-align:center;">Personal Information</h3>
        
        <fieldset>
            <legend>Personal Details</legend>
            <div class="form-row">
                <label for="id_surname">Surname:</label>
                {{ personal_form.surname }}
            </div>
            <div class="form-row">
                <label for="id_firstname">First Name:</label>
                {{ personal_form.firstname }}
            </div>
            <div class="form-row">
                <label for="id_middlename">Middle Name:</label>
                {{ personal_form.middlename }}
            </div>
            <div class="form-row">
                <label for="id_date_of_birth">Date of Birth:</label>
                {{ personal_form.date_of_birth }}
            </div>
            <div class="form-row">
                <label for="id_place_of_birth">Place of Birth:</label>
                {{ personal_form.place_of_birth }}
            </div>
        </fieldset>

        <fieldset>
            <legend>Physical Details</legend>
            <div class="form-row">
                <label for="id_sex">Sex:</label>
                {{ personal_form.sex }}
            </div>
            <div class="form-row">
                <label for="id_civil_status">Civil Status:</label>
                {{ personal_form.civil_status }}
            </div>
            <div class="form-row">
                <label for="id_height">Height (cm):</label>
                {{ personal_form.height }}
            </div>
            <div class="form-row">
                <label for="id_weight">Weight (kg):</label>
                {{ personal_form.weight }}
            </div>
            <div class="form-row">
                <label for="id_blood_type">Blood Type:</label>
                {{ personal_form.blood_type }}
            </div>
        </fieldset>

        <fieldset>
            <legend>Contact Information</legend>
            <div class="form-row">
                <label for="id_residential_address">Residential Address:</label>
                {{ personal_form.residential_address }}
            </div>
            <div class="form-row">
                <label for="id_residential_zip_code">Residential Zip Code:</label>
                {{ personal_form.residential_zip_code }}
            </div>
            <div class="form-row">
                <label for="id_permanent_address">Permanent Address:</label>
                {{ personal_form.permanent_address }}
            </div>
            <div class="form-row">
                <label for="id_permanent_zip_code">Permanent Zip Code:</label>
                {{ personal_form.permanent_zip_code }}
            </div>
            <div class="form-row">
                <label for="id_telephone_no">Telephone Number:</label>
                {{ personal_form.telephone_no }}
            </div>
            <div class="form-row">
                <label for="id_mobile_no">Mobile Number:</label>
                {{ personal_form.mobile_no }}
            </div>
            <div class="form-row">
                <label for="id_email_address">Email Address:</label>
                {{ personal_form.email_address }}
            </div>
        </fieldset>

        <fieldset>
            <legend>Government IDs</legend>
            <div class="form-row">
                <label for="id_gsis">GSIS Number:</label>
                {{ personal_form.gsis }}
            </div>
            <div class="form-row">
                <label for="id_pag_ibig">Pag-IBIG Number:</label>
                {{ personal_form.pag_ibig }}
            </div>
            <div class="form-row">
                <label for="id_philhealth">PhilHealth Number:</label>
                {{ personal_form.philhealth }}
            </div>
            <div class="form-row">
                <label for="id_sss_no">SSS Number:</label>
                {{ personal_form.sss_no }}
            </div>
            <div class="form-row">
                <label for="id_tin_no">TIN Number:</label>
                {{ personal_form.tin_no }}
            </div>
        </fieldset>

        <fieldset>
            <legend>Other Information</legend>
            <div class="form-row">
                <label for="id_citizenship">Citizenship:</label>
                {{ personal_form.citizenship }}
            </div>
            <div class="form-row">
                <label for="id_agent_employee_number">Agent Employee Number:</label>
                {{ personal_form.agent_employee_number }}
            </div>
        </fieldset>

        <!-- Family Background -->
        <h3 style="text-align:center;">Family Background</h3>
        
        <fieldset>
            <legend>Spouse Information</legend>
            <div class="form-row">
                <label for="id_spouse_surname">Spouse's Surname:</label>
                {{ family_form.spouse_surname }}
            </div>
            <div class="form-row">
                <label for="id_spouse_firstname">Spouse's First Name:</label>
                {{ family_form.spouse_firstname }}
            </div>
            <div class="form-row">
                <label for="id_spouse_middlename">Spouse's Middle Name:</label>
                {{ family_form.spouse_middlename }}
            </div>
            <div class="form-row">
                <label for="id_spouse_name_extension">Spouse's Name Extension:</label>
                {{ family_form.spouse_name_extension }}
            </div>
            <div class="form-row">
                <label for="id_spouse_occupation">Spouse's Occupation:</label>
                {{ family_form.spouse_occupation }}
            </div>
            <div class="form-row">
                <label for="id_spouse_employer_business_name">Employer/Business Name:</label>
                {{ family_form.spouse_employer_business_name }}
            </div>
            <div class="form-row">
                <label for="id_spouse_business_address">Business Address:</label>
                {{ family_form.spouse_business_address }}
            </div>
            <div class="form-row">
                <label for="id_spouse_telephone_no">Telephone Number:</label>
                {{ family_form.spouse_telephone_no }}
            </div>
        </fieldset>

        <fieldset>
            <legend>Children Information</legend>
            <div class="form-row">
                {{ family_form.children}}
            </div>
        </fieldset>
        
        <fieldset>
            <legend>Parents' Information</legend>
            <h3>Father's Information</h3>
            <div class="form-row">
                <label for="id_father_surname">Father's Surname:</label>
                {{ family_form.father_surname }}
            </div>
            <div class="form-row">
                <label for="id_father_firstname">Father's First Name:</label>
                {{ family_form.father_firstname }}
            </div>
            <div class="form-row">
                <label for="id_father_middlename">Father's Middle Name:</label>
                {{ family_form.father_middlename }}
            </div>
            <div class="form-row">
                <label for="id_father_name_extension">Father's Name Extension:</label>
                {{ family_form.father_name_extension }}
            </div>

            <h3>Mother's Information</h3>
            <div class="form-row">
                <label for="id_mother_maiden_lastname">Mother's Maiden Last Name:</label>
                {{ family_form.mother_maiden_lastname }}
            </div>
            <div class="form-row">
                <label for="id_mother_firstname">Mother's First Name:</label>
                {{ family_form.mother_firstname }}
            </div>
            <div class="form-row">
                <label for="id_mother_middlename">Mother's Middle Name:</label>
                {{ family_form.mother_middlename }}
            </div>
        </fieldset>

        

        <!-- Other Information -->
        <h3 style="text-align:center;">Other Information</h3>
        
        <fieldset>
            <legend>Relatives by Consanguinity or Affinity</legend>
            <div class="form-row">
                <label>Within Third Degree:</label>
                {{ other_form.with_third_degree }}
            </div>
            <div class="form-row">
                <label>Within Fourth Degree:</label>
                {{ other_form.with_fourth_degree }}
            </div>
            <div class="form-row">
                <label>Details (if any):</label>
                {{ other_form.fourth_degree_details }}
            </div>
        </fieldset>

        <fieldset>
            <legend>Administrative and Criminal Offenses</legend>
            <div class="form-row">
                <label>Administrative Offense:</label>
                {{ other_form.offense }}
            </div>
            <div class="form-row">
                <label>Details:</label>
                {{ other_form.offense_details }}
            </div>
            <div class="form-row">
                <label>Criminally Charged:</label>
                {{ other_form.criminal }}
            </div>
            <div class="form-row">
                <label>Details:</label>
                {{ other_form.criminal_details }}
            </div>
            <div class="form-row">
                <label>Date of Criminal Charge:</label>
                {{ other_form.criminal_date }}
            </div>
        </fieldset>

        <fieldset>
            <legend>Conviction</legend>
            <div class="form-row">
                <label>Convicted of Crime:</label>
                {{ other_form.convicted }}
            </div>
            <div class="form-row">
                <label>Details:</label>
                {{ other_form.convicted_details }}
            </div>
        </fieldset>

        <fieldset>
            <legend>Service Separation</legend>
            <div class="form-row">
                <label>Separated from Service:</label>
                {{ other_form.sep_service }}
            </div>
            <div class="form-row">
                <label>Details:</label>
                {{ other_form.sep_service_details }}
            </div>
        </fieldset>

        <fieldset>
            <legend>Election-Related Questions</legend>
            <div class="form-row">
                <label>Candidate in Election:</label>
                {{ other_form.candidate }}
            </div>
            <div class="form-row">
                <label>Details:</label>
                {{ other_form.candidate_details }}
            </div>
            <div class="form-row">
                <label>Resigned for Campaign:</label>
                {{ other_form.resign_candid }}
            </div>
            <div class="form-row">
                <label>Details:</label>
                {{ other_form.resign_candid_details }}
            </div>
        </fieldset>

        <fieldset>
            <legend>Immigration or Permanent Residency</legend>
            <div class="form-row">
                <label>Immigrant/Permanent Resident:</label>
                {{ other_form.immigrant_status }}
            </div>
            <div class="form-row">
                <label>Details:</label>
                {{ other_form.immigrant_details }}
            </div>
        </fieldset>

        <fieldset>
            <legend>Membership and Status</legend>
            <div class="form-row">
                <label>Member of Indigenous Group:</label>
                {{ other_form.indigenous_group_member }}
            </div>
            <div class="form-row">
                <label>Person with Disability:</label>
                {{ other_form.disability_status }}
            </div>
            <div class="form-row">
                <label>Solo Parent:</label>
                {{ other_form.solo_parent_status }}
            </div>
        </fieldset>

        <fieldset>
            <legend>References</legend>
            <div class="form-row">
                {{ other_form.references }}
            </div>
        </fieldset>

        <fieldset>
            <legend>Government Issued ID</legend>
            <div class="form-row">
                <label>ID Type:</label>
                {{ other_form.government_id }}
            </div>
            <div class="form-row">
                <label>ID Number:</label>
                {{ other_form.government_id_number }}
            </div>
            <div class="form-row">
                <label>Issue Date:</label>
                {{ other_form.id_issue_date }}
            </div>
            <div class="form-row">
                <label>Issue Place:</label>
                {{ other_form.id_issue_place }}
            </div>
        </fieldset>
        <!-- </div> -->

        <!-- Educational Background -->
        <h3 style="text-align:center;">Educational Background</h3>
        
        <div class="background-form">
            <table class="main-table">
                <thead>
                    <tr>
                        <th class="main-table-header">Level</th>
                        <th class="main-table-header">Name of School</th>
                        <th class="main-table-header">Basic Ed/Degree/Course</th>
                        <th class="main-table-header">Period of Attendance (From)</th>
                        <th class="main-table-header">Period of Attendance (To)</th>
                        <th class="main-table-header">Highest Level/Units Earned</th>
                        <th class="main-table-header">Year Graduated</th>
                        <th class="main-table-header">Scholarship/Honors Received</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="educational-level">Elementary</td>
                        <td>{{ education_form.elementary_name }}</td>
                        <td>{{ education_form.elementary_degree_course }}</td>
                        <td>{{ education_form.elementary_period_from }}</td>
                        <td>{{ education_form.elementary_period_to }}</td>
                        <td>{{ education_form.elementary_highest_level_units }}</td>
                        <td>{{ education_form.elementary_year_graduated }}</td>
                        <td>{{ education_form.elementary_honors }}</td>
                    </tr>
                    <tr>
                        <td class="educational-level">Secondary</td>
                        <td>{{ education_form.secondary_name }}</td>
                        <td>{{ education_form.secondary_degree_course }}</td>
                        <td>{{ education_form.secondary_period_from }}</td>
                        <td>{{ education_form.secondary_period_to }}</td>
                        <td>{{ education_form.secondary_highest_level_units }}</td>
                        <td>{{ education_form.secondary_year_graduated }}</td>
                        <td>{{ education_form.secondary_honors }}</td>
                    </tr>
                    <tr>
                        <td class="educational-level">Vocational/Trade Course</td>
                        <td>{{ education_form.vocational_name }}</td>
                        <td>{{ education_form.vocational_degree_course }}</td>
                        <td>{{ education_form.vocational_period_from }}</td>
                        <td>{{ education_form.vocational_period_to }}</td>
                        <td>{{ education_form.vocational_highest_level_units }}</td>
                        <td>{{ education_form.vocational_year_graduated }}</td>
                        <td>{{ education_form.vocational_honors }}</td>
                    </tr>
                    <tr>
                        <td class="educational-level">College</td>
                        <td>{{ education_form.college_name }}</td>
                        <td>{{ education_form.college_degree_course }}</td>
                        <td>{{ education_form.college_period_from }}</td>
                        <td>{{ education_form.college_period_to }}</td>
                        <td>{{ education_form.college_highest_level_units }}</td>
                        <td>{{ education_form.college_year_graduated }}</td>
                        <td>{{ education_form.college_honors }}</td>
                    </tr>
                    <tr>
                        <td class="educational-level">Graduate Studies</td>
                        <td>{{ education_form.graduate_name }}</td>
                        <td>{{ education_form.graduate_degree_course }}</td>
                        <td>{{ education_form.graduate_period_from }}</td>
                        <td>{{ education_form.graduate_period_to }}</td>
                        <td>{{ education_form.graduate_highest_level_units }}</td>
                        <td>{{ education_form.graduate_year_graduated }}</td>
                        <td>{{ education_form.graduate_honors }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Civil Service Eligibility -->
        <h3 style="text-align:center;">Civil Service Eligibility</h3>

        <div class="background-form">
            <table id="eligibility-table" class="main-table">
                <thead>
                    <tr>
                        <th class="main-table-header">Career Service/Eligibility</th>
                        <th class="main-table-header">Rating</th>
                        <th class="main-table-header">Date of Examination/Conferment</th>
                        <th class="main-table-header">Place of Examination/Conferment</th>
                        <th class="main-table-header">License Number</th>
                        <th class="main-table-header">License Validity</th>
                        <th class="main-table-header">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for eligibility in form_instance.civil_service.all %}
                    <tr>
                        <td><input type="text" name="career_service[]" value="{{ eligibility.career_service }}"></td>
                        <td><input type="number" name="rating[]" value="{{ eligibility.rating }}" step="0.01"></td>
                        <td><input type="date" name="exam_date[]" value="{{ eligibility.exam_date|date:'Y-m-d' }}"></td>
                        <td><input type="text" name="exam_place[]" value="{{ eligibility.exam_place }}"></td>
                        <td><input type="text" name="license_number[]" value="{{ eligibility.license_number }}"></td>
                        <td><input type="date" name="license_validity[]" value="{{ eligibility.license_validity|date:'Y-m-d' }}"></td>
                        <td><button type="button" class="delete-row-btn" onclick="deleteRow(this)">Delete</button></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td><input type="text" name="career_service[]" placeholder="Career Service/Eligibility"></td>
                        <td><input type="number" name="rating[]" step="0.01" placeholder="Rating"></td>
                        <td><input type="date" name="exam_date[]"></td>
                        <td><input type="text" name="exam_place[]" placeholder="Place of Examination/Conferment"></td>
                        <td><input type="text" name="license_number[]" placeholder="License Number"></td>
                        <td><input type="date" name="license_validity[]"></td>
                        <td><button type="button" class="delete-row-btn" onclick="deleteRow(this)">Delete</button></td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            <button type="button" class="add-row-btn" onclick="addCivilServiceRow()">Add Row</button>
        </div>

        <!-- Work Experience -->
        <h3 style="text-align:center;">Work Experience</h3>

        <div class="background-form">
            <table id="work-experience-table" class="main-table">
                <thead>
                    <tr>
                        <th class="main-table-header">From</th>
                        <th class="main-table-header">To</th>
                        <th class="main-table-header">Position Title</th>
                        <th class="main-table-header">Department/Agency/Office/Company</th>
                        <th class="main-table-header">Monthly Salary</th>
                        <th class="main-table-header">Salary Grade & STEP</th>
                        <th class="main-table-header">Status of Appointment</th>
                        <th class="main-table-header">Govt Service (Y/N)</th>
                        <th class="main-table-header">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for experience in form_instance.work_experience.all %}
                    <tr>
                        <td><input type="date" name="work_from_date[]" value="{{ experience.from_date|date:'Y-m-d' }}"></td>
                        <td><input type="date" name="work_to_date[]" value="{{ experience.to_date|date:'Y-m-d' }}"></td>
                        <td><input type="text" name="work_position_title[]" value="{{ experience.position_title }}"></td>
                        <td><input type="text" name="work_department[]" value="{{ experience.department }}"></td>
                        <td><input type="number" name="work_monthly_salary[]" value="{{ experience.monthly_salary }}"></td>
                        <td><input type="text" name="work_salary_grade[]" value="{{ experience.salary_grade }}"></td>
                        <td><input type="text" name="work_status[]" value="{{ experience.status_of_appointment }}"></td>
                        <td>
                            <select name="work_govt_service[]">
                                <option value="Y" {% if experience.govt_service == 'Y' %}selected{% endif %}>Yes</option>
                                <option value="N" {% if experience.govt_service == 'N' %}selected{% endif %}>No</option>
                            </select>
                        </td>
                        <td><button type="button" class="delete-row-btn" onclick="deleteRow(this)">Delete</button></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td><input type="date" name="work_from_date[]"></td>
                        <td><input type="date" name="work_to_date[]"></td>
                        <td><input type="text" name="work_position_title[]" placeholder="Position Title"></td>
                        <td><input type="text" name="work_department[]" placeholder="Department/Agency/Office/Company"></td>
                        <td><input type="number" name="work_monthly_salary[]" placeholder="Monthly Salary"></td>
                        <td><input type="text" name="work_salary_grade[]" placeholder="Salary Grade & STEP"></td>
                        <td><input type="text" name="work_status[]" placeholder="Status of Appointment"></td>
                        <td>
                            <select name="work_govt_service[]">
                                <option value="Y">Yes</option>
                                <option value="N">No</option>
                            </select>
                        </td>
                        <td><button type="button" class="delete-row-btn" onclick="deleteRow(this)">Delete</button></td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            <button type="button" class="add-row-btn" onclick="addWorkExperienceRow()">Add Row</button>
        </div>

        <!-- Voluntary Work -->
        <h3 style="text-align:center;">Voluntary Work</h3>

        <div class="background-form">
            <table id="voluntary-work-table" class="main-table">
                <thead>
                    <tr>
                        <th class="main-table-header">Name and Address of Organization</th>
                        <th class="main-table-header">From</th>
                        <th class="main-table-header">To</th>
                        <th class="main-table-header">Number of Hours</th>
                        <th class="main-table-header">Position/Nature of Work</th>
                        <th class="main-table-header">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for work in form_instance.voluntary_work.all %}
                    <tr>
                        <td><input type="text" name="voluntary_org[]" value="{{ work.organization_name }}"></td>
                        <td><input type="date" name="voluntary_from[]" value="{{ work.from_date|date:'Y-m-d' }}"></td>
                        <td><input type="date" name="voluntary_to[]" value="{{ work.to_date|date:'Y-m-d' }}"></td>
                        <td><input type="number" name="voluntary_hours[]" value="{{ work.number_of_hours }}"></td>
                        <td><input type="text" name="voluntary_nature[]" value="{{ work.nature_of_work }}"></td>
                        <td><button type="button" class="delete-row-btn" onclick="deleteRow(this)">Delete</button></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td><input type="text" name="voluntary_org[]" placeholder="Name and Address of Organization"></td>
                        <td><input type="date" name="voluntary_from[]"></td>
                        <td><input type="date" name="voluntary_to[]"></td>
                        <td><input type="number" name="voluntary_hours[]" placeholder="Number of Hours"></td>
                        <td><input type="text" name="voluntary_nature[]" placeholder="Position/Nature of Work"></td>
                        <td><button type="button" class="delete-row-btn" onclick="deleteRow(this)">Delete</button></td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            <button type="button" class="add-row-btn" onclick="addVoluntaryWorkRow()">Add Row</button>
        </div>

        <!-- Learning and Development -->
        <h3 style="text-align:center;">Learning and Development</h3>

        <div class="background-form">
            <table id="learning-development-table" class="main-table">
                <thead>
                    <tr>
                        <th class="main-table-header">Title</th>
                        <th class="main-table-header">From</th>
                        <th class="main-table-header">To</th>
                        <th class="main-table-header">Number of Hours</th>
                        <th class="main-table-header">Type of LD</th>
                        <th class="main-table-header">Conducted/Sponsored By</th>
                        <th class="main-table-header">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for learning in form_instance.learning_development.all %}
                    <tr>
                        <td><input type="text" name="learning_title[]" value="{{ learning.title }}"></td>
                        <td><input type="date" name="learning_from[]" value="{{ learning.from_date|date:'Y-m-d' }}"></td>
                        <td><input type="date" name="learning_to[]" value="{{ learning.to_date|date:'Y-m-d' }}"></td>
                        <td><input type="number" name="learning_hours[]" value="{{ learning.number_of_hours }}"></td>
                        <td><input type="text" name="learning_type[]" value="{{ learning.type_of_ld }}"></td>
                        <td><input type="text" name="learning_conducted[]" value="{{ learning.conducted_by }}"></td>
                        <td><button type="button" class="delete-row-btn" onclick="deleteRow(this)">Delete</button></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td><input type="text" name="learning_title[]" placeholder="Title"></td>
                        <td><input type="date" name="learning_from[]"></td>
                        <td><input type="date" name="learning_to[]"></td>
                        <td><input type="number" name="learning_hours[]" placeholder="Number of Hours"></td>
                        <td><input type="text" name="learning_type[]" placeholder="Type of LD"></td>
                        <td><input type="text" name="learning_conducted[]" placeholder="Conducted/Sponsored By"></td>
                        <td><button type="button" class="delete-row-btn" onclick="deleteRow(this)">Delete</button></td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            <button type="button" class="add-row-btn" onclick="addLearningDevelopmentRow()">Add Row</button>
        </div>
        

        <div class="form-actions">
            <button type="submit" class="submit-btn">Save Changes</button>
            {% if creating %}
                <a href="{% url 'home' %}" class="cancel-btn">Cancel</a>  {# Redirect to dashboard on create cancel #}
            {% else %}
                <a href="{% url 'all_forms' form_instance.id %}" class="cancel-btn">Cancel</a>  {# Redirect to form detail view on edit cancel #}
            {% endif %}
        </div>
    </form>
</div>
<script>
function addVoluntaryWorkRow() {
    const table = document.getElementById('voluntary-work-table');
    const newRow = table.insertRow(-1);

    const columns = [
        '<input type="text" name="voluntary_org[]" placeholder="Name and Address of Organization">',
        '<input type="date" name="voluntary_from[]">',
        '<input type="date" name="voluntary_to[]">',
        '<input type="number" name="voluntary_hours[]" placeholder="Number of Hours">',
        '<input type="text" name="voluntary_nature[]" placeholder="Position/Nature of Work">',
        '<button type="button" class="delete-row-btn" onclick="deleteRow(this)">Delete</button>'
    ];

    columns.forEach((col, index) => {
        const cell = newRow.insertCell(index);
        cell.innerHTML = col;
    });
}
</script>
<script>
function addWorkExperienceRow() {
    const table = document.getElementById('work-experience-table');
    const newRow = table.insertRow(-1);

    const columns = [
        '<input type="date" name="work_from_date[]">',
        '<input type="date" name="work_to_date[]">',
        '<input type="text" name="work_position_title[]" placeholder="Position Title">',
        '<input type="text" name="work_department[]" placeholder="Department/Agency/Office/Company">',
        '<input type="number" name="work_monthly_salary[]" placeholder="Monthly Salary">',
        '<input type="text" name="work_salary_grade[]" placeholder="Salary Grade & STEP">',
        '<input type="text" name="work_status[]" placeholder="Status of Appointment">',
        '<select name="work_govt_service[]"><option value="Y">Yes</option><option value="N">No</option></select>',
        '<button type="button" class="delete-row-btn" onclick="deleteRow(this)">Delete</button>'
    ];

    columns.forEach((col, index) => {
        const cell = newRow.insertCell(index);
        cell.innerHTML = col;
    });
}
</script>

<script>
function addCivilServiceRow() {
    const tbody = document.querySelector('#eligibility-table tbody');  // ✅ target tbody
    const newRow = tbody.insertRow(-1);

    const columns = [
        '<input type="text" name="career_service[]" placeholder="Career Service/Eligibility">',
        '<input type="number" name="rating[]" step="0.01" placeholder="Rating">',
        '<input type="date" name="exam_date[]">',
        '<input type="text" name="exam_place[]" placeholder="Place of Examination/Conferment">',
        '<input type="text" name="license_number[]" placeholder="License Number">',
        '<input type="date" name="license_validity[]">',
        '<button type="button" class="delete-row-btn" onclick="deleteRow(this)">Delete</button>'
    ];

    columns.forEach((col, index) => {
        const cell = newRow.insertCell(index);
        cell.innerHTML = col;
    });
}

</script>


<script>
function addLearningDevelopmentRow() {
    const table = document.getElementById('learning-development-table');
    const newRow = table.insertRow(-1);

    const columns = [
        '<input type="text" name="learning_title[]" placeholder="Title">',
        '<input type="date" name="learning_from[]">',
        '<input type="date" name="learning_to[]">',
        '<input type="number" name="learning_hours[]" placeholder="Number of Hours">',
        '<input type="text" name="learning_type[]" placeholder="Type of LD">',
        '<input type="text" name="learning_conducted[]" placeholder="Conducted/Sponsored By">',
        '<button type="button" class="delete-row-btn" onclick="deleteRow(this)">Delete</button>'
    ];

    columns.forEach((col, index) => {
        const cell = newRow.insertCell(index);
        cell.innerHTML = col;
    });
}
</script>

<script>
document.addEventListener('click', function(e) {
    if (e.target.classList.contains('delete-row-btn')) {
        e.target.closest('tr').remove();
    }
});
</script>


{% endblock %}