{% extends 'pds_app/home.html' %}

{% block sidebar %}
    <div class="forms-header">
        <h3>Your Forms</h3>
        <p class="forms-count">{{ forms|length }} form{{ forms|pluralize }}</p>
    </div>
    
    <div class="forms-list">
        {% for form in forms %}
            <div class="form-item">
                <a href="{% url 'all_forms' form.id %}" class="form-link">
                    <div class="form-name">{{ form.name }}</div>
                    <div class="form-date">Created: {{ form.created_at|date:"M d, Y" }}</div>
                </a>
                
                <form method="post" action="{% url 'delete_form' form.id %}" class="delete-form">
                    {% csrf_token %}
                    <button type="submit" class="delete-btn" onclick="return confirm('Are you sure you want to delete {{ form.name }}?');">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </button>
                </form>
            </div>
        {% endfor %}
            <div class="form-item">
                <a href="{% url 'create_form'  %}" class="form-link" id="createFormLink">
                    <div class="form-name">Create New</div>
                </a>
                <button class="add-btn" id="createFormButton" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="#e3e3e3"><path d="M440-80v-340H120v-120h320v-340h80v340h320v120H520v340h-80Z"/></svg>                
                </button>
            </div>
    </div>
    <script>
  document.getElementById('createFormButton').addEventListener('click', function() {
    window.location = document.getElementById("createFormLink").href;
  });
</script>
{% endblock sidebar %}

{% block content %}
{% endblock content %}