<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Data Sheet</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'pds_app/css/style.css' %}">
    <link rel="stylesheet" href="{%static 'pds_app/css/logout.css' %}">
</head>
<body>
    <header>
        <h1>Pesonal Data Sheet System</h1>
        <p>
            <!-- <a href="{% url 'create_form' %}">Create Form</a> - -->
            <a href="{% url 'forms' %}">Dashboard</a>
        </p>

        <div class="logout-section">
            {% if user.is_authenticated %}
                <span class="welcome-text">Welcome, {{ user.username }}!</span>
                <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
            {% endif %}
        </div>
    </header>
    

    <div class="container">
        
        <div class="sidebar">
            {% block sidebar %}
            {% endblock sidebar %}
        </div>

        
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</body>
</html>