{% extends 'pds_app/create_form.html' %}


{% block content %}
<h2>Learning and Development</h2>
<form method="post" class="educational-background-form" id="learning-development-form">
    {% csrf_token %}
    <table id="learning-development-table" class="educational-table">
        <thead>
            <tr>
                <th class="educational-table-header">Title</th>
                <th class="educational-table-header">From</th>
                <th class="educational-table-header">To</th>
                <th class="educational-table-header">Number of Hours</th>
                <th class="educational-table-header">Type of LD</th>
                <th class="educational-table-header">Conducted/Sponsored By</th>
                <th class="educational-table-header">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" name="title[]" placeholder="Title of Learning and Development Interventions/Training Programs" required></td>
                <td><input type="date" name="from_date[]" required></td>
                <td><input type="date" name="to_date[]" required></td>
                <td><input type="number" name="number_of_hours[]" placeholder="Number of Hours" required></td>
                <td><input type="text" name="type_of_ld[]" placeholder="Type of LD (Managerial/Supervisory/Technical, etc.)" required></td>
                <td><input type="text" name="conducted_by[]" placeholder="Conducted/Sponsored By" required></td>
                <td><button type="button" class="delete-row-btn" onclick="deleteRow(this)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="add-row-btn" onclick="addRow()">Add Row</button>
    <button type="submit" class="submit-btn">Next</button>
    <br><br>
</form>



<script>
    function addRow() {
        const table = document.getElementById('learning-development-table');
        const newRow = table.insertRow(-1);

        const columns = [
            '<input type="text" name="title[]" placeholder="Title of Learning and Development Interventions/Training Programs" required>',
            '<input type="date" name="from_date[]" required>',
            '<input type="date" name="to_date[]" required>',
            '<input type="number" name="number_of_hours[]" placeholder="Number of Hours" required>',
            '<input type="text" name="type_of_ld[]" placeholder="Type of LD (Managerial/Supervisory/Technical, etc.)" required>',
            '<input type="text" name="conducted_by[]" placeholder="Conducted/Sponsored By" required>',
            '<button type="button" class="delete-row-btn" onclick="deleteRow(this)">Delete</button>'
        ];

        columns.forEach((col, index) => {
            const cell = newRow.insertCell(index);
            cell.innerHTML = col;
        });

    }

    function deleteRow(button) {
        const row = button.parentNode.parentNode;
        row.parentNode.removeChild(row);

    }
    
</script>
{% endblock content %}