{% extends 'pds_app/create_form.html' %}

{% block content %}
<h2>Personal Information</h2>
<form method="post" class="general-form">
    {% csrf_token %}
    
    <!-- Personal Details Section -->
    <fieldset>
        <legend>Personal Details</legend>
        <div class="form-row">
            <label for="id_surname">Surname:</label>
            {{ form.surname }}
        </div>
        <div class="form-row">
            <label for="id_firstname">First Name:</label>
            {{ form.firstname }}
        </div>
        <div class="form-row">
            <label for="id_middlename">Middle Name:</label>
            {{ form.middlename }}
        </div>
        <div class="form-row">
            <label for="id_date_of_birth">Date of Birth:</label>
            {{ form.date_of_birth }}
        </div>
        <div class="form-row">
            <label for="id_place_of_birth">Place of Birth:</label>
            {{ form.place_of_birth }}
        </div>
    </fieldset>

    <!-- Physical Details Section -->
    <fieldset>
        <legend>Physical Details</legend>
        <div class="form-row">
            <label for="id_sex">Sex:</label>
            {{ form.sex }}
        </div>
        <div class="form-row">
            <label for="id_civil_status">Civil Status:</label>
            {{ form.civil_status }}
        </div>
        <div class="form-row">
            <label for="id_height">Height (cm):</label>
            {{ form.height }}
        </div>
        <div class="form-row">
            <label for="id_weight">Weight (kg):</label>
            {{ form.weight }}
        </div>
        <div class="form-row">
            <label for="id_blood_type">Blood Type:</label>
            {{ form.blood_type }}
        </div>
    </fieldset>

    <!-- Contact Information Section -->
    <fieldset>
        <legend>Contact Information</legend>
        <div class="form-row">
            <label for="id_residential_address">Residential Address:</label>
            {{ form.residential_address }}
        </div>
        <div class="form-row">
            <label for="id_residential_zip_code">Residential Zip Code:</label>
            {{ form.residential_zip_code }}
        </div>
        <div class="form-row">
            <label for="id_permanent_address">Permanent Address:</label>
            {{ form.permanent_address }}
        </div>
        <div class="form-row">
            <label for="id_permanent_zip_code">Permanent Zip Code:</label>
            {{ form.permanent_zip_code }}
        </div>
        <div class="form-row">
            <label for="id_telephone_no">Telephone Number:</label>
            {{ form.telephone_no }}
        </div>
        <div class="form-row">
            <label for="id_mobile_no">Mobile Number:</label>
            {{ form.mobile_no }}
        </div>
        <div class="form-row">
            <label for="id_email_address">Email Address:</label>
            {{ form.email_address }}
        </div>
    </fieldset>

    <!-- Government IDs Section -->
    <fieldset>
        <legend>Government IDs</legend>
        <div class="form-row">
            <label for="id_gsis">GSIS Number:</label>
            {{ form.gsis }}
        </div>
        <div class="form-row">
            <label for="id_pag_ibig">Pag-IBIG Number:</label>
            {{ form.pag_ibig }}
        </div>
        <div class="form-row">
            <label for="id_philhealth">PhilHealth Number:</label>
            {{ form.philhealth }}
        </div>
        <div class="form-row">
            <label for="id_sss_no">SSS Number:</label>
            {{ form.sss_no }}
        </div>
        <div class="form-row">
            <label for="id_tin_no">TIN Number:</label>
            {{ form.tin_no }}
        </div>
    </fieldset>

    <!-- Other Information Section -->
    <fieldset>
        <legend>Other Information</legend>
        <div class="form-row">
            <label for="id_citizenship">Citizenship:</label>
            {{ form.citizenship }}
        </div>
        <div class="form-row">
            <label for="id_agent_employee_number">Agent Employee Number:</label>
            {{ form.agent_employee_number }}
        </div>
    </fieldset>

    <button type="submit" class="submit-btn">Next</button>
</form>
{% endblock content %}
