<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Personal Data Sheet System</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'pds_app/css/login.css' %}">
</head>
<body>
    <header>
        <h1>Personal Data Sheet System</h1>
    </header>
    <div class="login-container">
        <h2>Register an Account</h2>
        
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        
        
        {% if form.errors %}
        <div class="alert alert-error">
            Your username and password didn't match. Please try again.
        </div>
        {% endif %}
        
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <fieldset class="login-fieldset">
                <legend class="login-legend">Register Information</legend>
                
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <div class="form-group">
                    <label for="password2">Confirm Password:</label>
                    <input type="password" id="password2" name="password2" required>
                </div>

            </fieldset>

            <a class="login-link" href="{% url 'login' %}">Already have an account? <i>Login</i></a>
            
            <button type="submit" class="btn-login">Register</button>
        </form>
        
    </div>
    
</body>
</html>