{% extends 'pds_app/create_form.html' %}


{% block content %}
<h2>Voluntary or Non Voluntary Work Involvement</h2>
<script>
    function addRow() {
        const table = document.getElementById('voluntary-work-table');
        const newRow = table.insertRow(-1);

        const columns = [
            '<input type="text" name="organization_name[]" placeholder="Name and Address of Organization" required>',
            '<input type="date" name="from_date[]" required>',
            '<input type="date" name="to_date[]" required>',
            '<input type="number" name="number_of_hours[]" placeholder="Number of Hours" required>',
            '<input type="text" name="nature_of_work[]" placeholder="Position/Nature of Work" required>',
            '<button type="button" class="delete-row-btn" onclick="deleteRow(this)">Delete</button>'
        ];

        columns.forEach((col, index) => {
            const cell = newRow.insertCell(index);
            cell.innerHTML = col;
        });
    }

    function deleteRow(button) {
        const row = button.parentNode.parentNode;
        row.parentNode.removeChild(row);
    }
</script>
<form method="post"  class="background-form">
    {% csrf_token %}
    <table id="voluntary-work-table"  class="main-table">
        <thead>
            <tr>
                <th class="main-table-header">Name and Address of Organization</th>
                <th class="main-table-header">From</th>
                <th class="main-table-header">To</th>
                <th class="main-table-header">Number of Hours</th>
                <th class="main-table-header">Position/Nature of Work</th>
                <th class="main-table-header">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" name="organization_name[]" placeholder="Name and Address of Organization" required></td>
                <td><input type="date" name="from_date[]" required></td>
                <td><input type="date" name="to_date[]" required></td>
                <td><input type="number" name="number_of_hours[]" placeholder="Number of Hours" required></td>
                <td><input type="text" name="nature_of_work[]" placeholder="Position/Nature of Work" required></td>
                <td><button type="button" class="delete-row-btn" onclick="deleteRow(this)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="add-row-btn" onclick="addRow()">Add Row</button>
    <br><br>
    <button type="submit" class="submit-btn">Next</button>
</form>

{% endblock content %}